
* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-border-width: 0px;
}

body {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    background-color: #142b4300;
    display: block;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
    height: 40vw;
} 

.navbar img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 10vh;
    display: block;
    justify-content: start;
    text-align: start; 
    position: relative;
    top: -40vw;
}
.container img {
    width: 9vw;
    position: relative;
    left: -2.5vw;
}

.container h1 {
    color: white;
    font-size: 2vw;
    width: 50%;
    white-space: pre-line;
}

.row {
    padding-bottom: 20px;
}

.card {
    border: none !important;
    box-shadow:0 0 10px 3px #142b43;
    border-radius: 10px !important;
}

.card img {
    width: auto;
    border-radius: 10px !important;
    height: 27.5vw;
    object-fit: cover;    
}

.hover-card {
    background-color: #142b4300;
    color: white;
    width: 100%;
    height: 27.5vw;
    border-radius: 10px !important;
    position: relative;
    top: -27.5vw;
    display:inline-block;
    align-items: end;
    align-content: end;
}

.hover-card h3 {
    padding-inline-start: 2vw;
}

.hover-card:hover {
    background-color: #142b438a;
    transition-duration: 1000ms;
}

@keyframes suavizacao_H3 {
    0% {
        height: 0%;
      }
    100% {
        height: 50%; 
      }
}

.hover-card p {
    display: none;
}

.hover-card:hover p {
    display: block;
    height: 50%;
    padding-inline: 2vw;
    animation: suavizacao_H3 1000ms ease-in-out forwards;
    text-align: justify;
}

@media (max-width: 1024px) {
    .navbar {
        display: none;
    }

    .container {
        display: none;
    }
    .navbar img {
        display: none;
    }
}