@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-border-width: 0px;
    --font-default:"Ubuntu", sans-serif;
    --color-logo: #2BAAB0;
    --color-default-1:#142b43; 
}

body {
    max-width: 100%;
    max-height: 100%;
    font-family: var(--font-default);
}

.hero {
    background-color: #142b4300;
    display: block;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
    height: 40vw;
} 

.hero img {
    padding: 0;
    margin: 0;
}

.container {
    width: 10vh;
    display: block;
    justify-content: start;
    text-align: start; 
    position: relative;
    top: -40vw;
}
.container img {
    width: 9vw;
    position: relative;
    left: -2.5vw;
}

.container h1 {
    color: white;
    font-family: var(--font-default);
    font-size: 3vw;
    width: 50%;
    white-space: pre-line;
    font-weight: 700;
}
.container h2 {
    color: white;
    font-size: 1.5vw;
    font-weight: 800;
    font-family: "Roboto Serif", serif;
}

.container p {
    color: white;
    width: 50%;
    font-family: var(--font-default);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px 3px var(--color-logo);
    }
    50% {
        box-shadow: 0 0 0px 0px var(--color-logo);
    }
    100% {
        box-shadow: 0 0 10px 3px var(--color-logo);
    }
}

.botao-cta {
    background-color: var(--color-logo);
    color: var(--color-default-1);
    text-shadow: 0px 0px 15px var(--color-default-1);
    font-size: 1.5vw;
    font-weight: 700;
    text-decoration: none;
    padding: 1vw;
    border-radius: 10px;
    /* box-shadow: 0 0 10px 3px var(--color-logo); */
    animation: pulse 2.2s infinite;
    position: relative;
    top: 2vw;
}

/* .row {
    padding-bottom: 20px;
} */

.row {
    background-color: white;
    padding-block-end: 1vw;
    border-radius: 20px;
}

hr.vertical.dark {
    background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.4),transparent);
}

hr.vertical {
    position: absolute;
    background-color: transparent;
    height: 100%;
    right: 0;
    top: 0;
    width: 1px;
}

.card {
    border: none !important;
    box-shadow:0 0 10px 3px #142b43;
    border-radius: 10px !important;
}

.card img {
    width: auto;
    border-radius: 10px !important;
    height: 27.5vw;
    object-fit: cover;    
}

.hover-card {
    background-color: #142b4300;
    color: white;
    width: 100%;
    height: 27.5vw;
    border-radius: 10px !important;
    position: relative;
    top: -27.5vw;
    display:inline-block;
    align-items: end;
    align-content: end;
}

.hover-card h3 {
    padding-inline: 2vw;
    font-family: var(--font-default);
    font-size: 1.5vw;
}

.hover-card:hover {
    background-color: #142b438a;
    transition-duration: 1000ms;
}

@keyframes suavizacao_H3 {
    0% {
        height: 0%;
      }
    100% {
        height:50%; 
      }
}

.hover-card p {
    display: none;
    white-space: pre-line;
    
}

.hover-card p a {
    
    color: white;
    font-weight: 100;
    font-size: small;
}

.hover-card:hover p {
    display: block;
    padding-inline: 2vw;
    font-family: var(--font-default);
    animation: suavizacao_H3 500ms ease-in-out forwards;
    text-align: justify;
}

@media (max-width: 1024px) {
    .hero img {
        display: none;
    }

    .hero {
        background-color: var(--color-default-1);
        height: 80vh;
    }

    .container {
        width: auto;
        height: auto;
        top: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container a {
        align-items: center;
        justify-content: center;
        text-align: center;
        align-self: center;
    }
    
    .container img {
        width: 17vw;
        justify-self: center;
        display: block !important;
        left: auto;
    }

    .container h1 {
        width: 100%;
        font-size: 7vw;
        text-align: center;
    }

    .container p {
        width: 100%;
        font-size: 4.5vw;
    }

    .botao-cta {
        position:static;
        font-size: 5vw;
        padding: 1.5vh;
    }

    .col {
        height: 30vw !important;
    }
}