
* {
    margin: 0;
    padding: 0;
}

:root {
    --bs-border-width: 0px;
}

body {
    max-width: 100%;
    max-height: 100%;
}

.navbar {
    background-color: #142b4300;
    display: block;
    justify-content: start;
    align-items: start;
    padding: 0;
    margin: 0;
    height: 40vw;
} 

.navbar img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container {
    width: 10vh;
    display: block;
    justify-content: start;
    text-align: start; 
    position: relative;
    top: -40vw;
}
.container img {
    width: 9vw;
    position: relative;
    left: -2.5vw;
}

.container h1 {
    color: white;
    font-size: 2vw;
    width: 50%;
    white-space: pre-line;
}

.row {
    padding-bottom: 20px;
}

.card {
    border: none !important;
    box-shadow:0 0 10px 3px #142b43;
    border-radius: 10px !important;
}

.card img {
    width: auto;
    border-radius: 10px !important;
    
}

@media (max-width: 1024px) {
    .navbar {
        display: none;
    }

    .container {
        display: none;
    }
    .navbar img {
        display: none;
    }
}